body{
    background-color: #44444B;
    margin: 0px;
}

#stage{
    width: 400px;
    height: 600px;
    position: relative;
    border: 1px solid #a9a9a9;
    margin: auto;
    background-image: url("assets/earth_v1.jpg");
}
canvas {
    position: absolute;
    padding: 0;
    margin: auto;
    display: block;
}
#top-layer { z-index: 5; }
#mid-layer { z-index: 4; }

.asteroid {
    z-index: 1;
    text-align: center;
    background-image: url("assets/asteroid_square_grey_v1.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes myanimation {
    0% {bottom: -10px;}
    100% {bottom: -610px;}
}