body{
	background-color: #FFFFFF;
	font-family:sans-serif;
	letter-spacing: 0.5px;
}
div {
	color:#000000;
}
h1{
	color:#000000;
	font-family:sans-serif;
}
canvas{
	padding: 0;
	margin: auto;
	display: block;
}
#mainMenu{
	color:#22D2A0;
	display:block;
	padding: 15px;	
	position:fixed;
	top:120px;
}
#accountSettings{
	color:#FF5555;
	padding: 15px;
	display:block;
	position:fixed;
	top:120px;
	visibility: hidden;
}
#teacherDashboard{
	color:#FFD913;
	padding: 15px;
	display:block;
	position:fixed;
	top:120px;	
	visibility: hidden;
}
#leaderboard{
	color:#c238d1;
	padding: 15px;
	display:block;
	position:fixed;
	top:120px;
	visibility: hidden;
}
#leaderboardList{
	list-style-type: none;
}
#leaderboardLevelList{
	list-style-type: none;
}
#leaderboardSpot{
	color:#000000;
}
#userLeaderboardSpot{
	color:#ff0027;
}

/*Begining of Navigation Bar Style*/
#navBar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}
#navBarItem a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#navBarItem{
	float: left;
}
#navBarItem a:hover{
  background-color: #212121;
}
.active{
	background-color: #111111;
}