body{
	background-color: #FFFFFF;
	font-family:sans-serif;
	letter-spacing: 0.5px;
}
div {
	color:#000000;
}
h1{
	color:#000000;
	font-family:sans-serif;
}
canvas{
	padding: 0;
	margin: auto;
	display: block;
}
#mainMenu{
	color:#22D2A0;
	display:block;
	padding: 15px;	
}
#accountSettings{
	color:#FF5555;
	padding: 15px;
	display:block;
}
#teacherDashboard{
	color:#FFD913;
	padding: 15px;
	display:block;
}
#leaderboard{
	color:#c238d1;
	padding: 15px;
	display:block;
}
#leaderboardList{
	list-style-type: none;
}
#leaderboardLevelList{
	list-style-type: none;
}
#leaderboardSpot{
	color:#000000;
}
#userLeaderboardSpot{
	color:#ff0027;
}