body{
	background-color: #ffffff;
	font-family:sans-serif;
	letter-spacing: 0.5px;
}
div {
	color:#000000;
}
h1{
	color:#000000;
	font-family:sans-serif;
}
.asteroid {
    z-index: 1;
    background-image: url("assets/asteroid_square_grey_v1.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: asteroidAnimation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes asteroidAnimation {
    0% {bottom: -10px;}
    100% {bottom: -610px;}
}

/*Begining of Menus Style*/
#mainMenu{
	color:#22D2A0;
	display:block;
	padding: 15px;	
	position:fixed;
	top:120px;
	border-radius: 5px;
}
#accountSettings{
	color:#FF5555;
	padding: 15px;
	display:block;
	position:fixed;
	top:120px;
	visibility: hidden;
	border-radius: 5px;
}
#teacherDashboard{
	color:#FFD913;
	padding: 15px;
	display:block;
	position:fixed;
	top:120px;	
	visibility: hidden;
	border-radius: 5px;
}
#leaderboard{
	color:#c238d1;
	padding: 15px;
	display:block;
	position:fixed;
	top:120px;
	visibility: hidden;
	border-radius: 5px;

}

/*Begining of Leaderboard Style*/
#leaderboardList{
	list-style-type: none;
}
#leaderboardLevelList{
	list-style-type: none;

}
#leaderboardSpot{
	color:#000000;
}
#userLeaderboardSpot{
	color:#ff0027;
}

/*Begining of Navigation Bar Style*/
#navBar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}
#navBarItem a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#navBarItem{
	float: left;
}
#navBarItem a:hover{
  background-color: #212121;
}
.active{
	background-color: #111111;
}